@import '../../style/variables'

.story-list
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    list-style-type: none
    padding: 0 40px
    margin: 0
